body {
	padding: 2px;
}

#fake-header {
	height: 50px;
}

.container {
	padding: 10px 0 0 10px;
	clear: both;
}

.sidenav {
	padding: 10px 0;
}

.subnav {
	list-style: none;
	font-weight: normal;
	display: none;
	padding-left: 25px;
}

.sidenav li > a {
	color: #716b7a;
	padding: 5px 20px;
	margin-right: 2px;
}

.sidenav .active {
	font-weight: bold;
}

.sidenav .active > a {
	color: #000;
	border-right: 1px solid steelblue;
}

.sidenav > li a:hover {
	color: #333;
}

.sidenav-wrap {
	background-color: #efefef;
	border-radius: 6px;
}

.active .subnav{
	display: block;
}

.form-signup, .form-signin {
	width: 400px;
	margin: 0 auto;
}